<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mannv_setting_greeting>
            <greeting_general>
                <enable>1</enable>
                <default_text>Greeting message default</default_text>
            </greeting_general>
        </mannv_setting_greeting>
    </default>
</config>
