<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="bai1" id="mannv_route_bai1">
            <module name="ManNV_Bai1"/>
        </route>
    </router>
</config>
